body {
  background-image: url("../img/gradient-background.jpg"); 
}
.question {
  display: none;
}

.answers {
  display: none;
}

.container {
  margin: 200px;
  text-align: center;
}

.showFavorites {
  font-family: "Comic Sans MS";
  margin-top: 50px;
}
